.fundo{
    background-color: grey;
    margin: auto;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

.col1{
    font-size: large;
    width: 30%;
    height: 100%;
    background-color: lightgrey;
}

.col2{
    font-size: large;
    width: 40%;
    height: 100%;
    background-color: rgb(189, 177, 72);
}

.col3{
    font-size: large;
    width: 30%;
    height: 100%;
    background-color: rgb(95, 189, 72);
}

.fundo.texto{
    font-size: large;
    width: 50%;
    height: 100%;
    background-color: lightgrey;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

icone{
    width: 12px;
    height: 12px;
}

.centralizado{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    margin-left: 5%;
    color: white;
}

.corpo{
    margin-left: 2%;
    color: white;
}